absl-py
astor
astroid
astunparse
cachetools
certifi
chardet
cycler
future
gast
grpcio
h5py
idna
importlib-metadata
isort
Keras-Applications
Keras-Preprocessing
kiwisolver
labelImg
lazy-object-proxy
lxml
Markdown
matplotlib
mccabe
mock
numpy
oauthlib
opencv-python
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
PyQt5
PyQt5-sip
python-dateutil
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminaltables
toml
torch
torchvision
tqdm
typed-ast
urllib3
Werkzeug
wrapt
zipp
